# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
*.vcxproj.user
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
/DataUtilLibrary/Debug/DataUtilLibrary.tlog
/ipch
/Lib/Debug
/UILibrary/ipch/UILIBRARY-3312dddb
/UILibrary/Debug/UILibrary.tlog
/UILibrary/GeneratedFiles
/TestLibs/Debug
/TestLibs/GeneratedFiles
